img{
    width:30%;
}

#navbar {
    display: flex;
}


#dog1 {
    display: block
}


#dog2 {
    display: none
}

.btn {
    display: flex;
}


body {
    background-color: rgb(185, 176, 163);
}

@media screen and (max-width: 800px) {
    body {
        background-color: aqua;
        
        }

        h1 {
            font-size: 20px;
            color: brown;
          }

    #navbar {
        justify-content: space-around;
        background-color: blueviolet;
        
    }    

}

@media screen and (max-width: 600px) {
    body {
        background-color: yellow;
    }

    #navbar {
        flex-direction:column;
    }

    .btn:hover {
        color: black;
    }

    h1 {
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #image-container {
        display: flex;
        justify-content: center;
    }

    #dog1 {
        display: none;
    }

    #dog2 {
        display: block;
    }

    
}

 